body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  background-color: #1c3a2d;
}

#menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}

#menu .title {
  color: #D5D5D5;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
}

#menu li a {
  display: inline-block;
  color: #D5D5D5;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

#content h1, #content h2, #content h3, #content h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin: 0;  
  color: #D5D5D5
}

#content h2 {
  margin-top: 2em;
  color:#D5D5D5;
}

#content .byline, #content .byline a, #content .note {
  font-size: 10px;
  color: #D5D5D5;
}

#content p, #content ul{
  color: #D5D5D5;
  font-weight:350;
  line-height: 18px;
  line-height: 1.3;

}

#content sup.note {
  display: inline-block;
  margin-top: -5px;
}

#content p.notop {
  margin-top: 0;
}

#content .thanks {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #D5D5D5;
  margin-bottom: 4em;
  font-size: smaller;
  color: #D5D5D5;
}

#content .thanks a {
  color: #D5D5D5;
}

#content li {
  margin-bottom: 0.7em;
  color: #D5D5D5;
}

.post + .post {
  margin-top: 50px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 15px;
  border-left: 4px solid #66669a;
  color: #D5D5D5;
  line-height: 1.3;
  ;
}

/* unvisited link */
a:link {
  color: #8B8B8B;
}

/* visited link */
a:visited {
  color: #8B8B8B;
}

/* Mobile-friendly adjustments */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; /* Larger base font for readability */
  }

  #menu {
    float: none;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    text-align: left;
    box-sizing: border-box;
  }

  #menu .title {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }

  #menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  #menu li {
    display: inline;
  }

  #left {
    display: none; /* Remove left spacer on mobile */
  }

  #content {
    float: none;
    width: auto;
    max-width: 100%;
    margin: 0 20px;
    box-sizing: border-box;
  }

  #content img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    margin-left: 0;
    padding-left: 10px;
    border-left-width: 3px;
  }
}
